<h1>Register</h1>

<form action="/register" method="post">

<label for="name">Name:</label>
<input id="name" name="name" required>


<label for="email">Email:</label>
<input  id="email" name="email" required>

<label for="password">Password:</label>
<input  id="password" name="password" required>

<button type="submit">Register</button>

<p>tienes una cuenta? <a href="/login">Login</a></p>


</form>